# Variables de entorno
.env

# Dependencias
node_modules/

# Build
dist/
*.tsbuildinfo

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporal
*.tmp
